Repository BrianDMG/conv2mp4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Dockerfile Lint, Docker Build, Push, Lint Dockerfile Lint, Lint Build, Lint Push, Smoke Test Dockerfile Lint, Smoke Test Build, Smoke Test Push, Powershell Lint, Docker Push

Dockerfile Lint:
  stage: Lint
  image: ${DOCKER_LINT_IMAGE}
  script: ${DOCKER_LINT_CMD} ${DOCKERFILE_PATH}/Dockerfile

Docker Build:
  stage: Build
  image: ${DOCKER_IMAGE}
  before_script:
  - echo -n ${CI_JOB_TOKEN} | docker login -u gitlab-ci-token --password-stdin ${CI_REGISTRY}
  script:
  - 'docker build --pull --cache-from ${LATEST_TAG} --tag ${COMMIT_TAG} ${DOCKERFILE_PATH}
  
    '
  - docker push ${COMMIT_TAG}

Push:
  stage: Publish
  image: ${DOCKER_IMAGE}
  before_script:
  - echo -n ${CI_JOB_TOKEN} | docker login -u gitlab-ci-token --password-stdin ${CI_REGISTRY}
  script:
  - docker pull ${COMMIT_TAG}
  - docker tag ${COMMIT_TAG} ${LATEST_TAG}
  - docker push ${LATEST_TAG}

Lint Dockerfile Lint:
  stage: Lint
  image: ${DOCKER_LINT_IMAGE}
  script: ${DOCKER_LINT_CMD} ${DOCKERFILE_LINT_PATH}/Dockerfile

Lint Build:
  stage: Build
  image: ${DOCKER_IMAGE}
  before_script:
  - echo -n ${CI_JOB_TOKEN} | docker login -u gitlab-ci-token --password-stdin ${CI_REGISTRY}
  script:
  - 'docker build --pull --cache-from ${LINT_LATEST_TAG} --tag ${LINT_COMMIT_TAG} ${DOCKERFILE_LINT_PATH}
  
    '
  - docker push ${LINT_COMMIT_TAG}

Lint Push:
  stage: Publish
  image: ${DOCKER_IMAGE}
  before_script:
  - echo -n ${CI_JOB_TOKEN} | docker login -u gitlab-ci-token --password-stdin ${CI_REGISTRY}
  script:
  - docker pull ${LINT_COMMIT_TAG}
  - docker tag ${LINT_COMMIT_TAG} ${LINT_LATEST_TAG}
  - docker push ${LINT_LATEST_TAG}

Smoke Test Dockerfile Lint:
  stage: Lint
  image: ${DOCKER_LINT_IMAGE}
  script: ${DOCKER_LINT_CMD} ${DOCKERFILE_SMOKE_TEST_PATH}/Dockerfile

Smoke Test Build:
  stage: Smoke Test Build
  image: ${DOCKER_IMAGE}
  before_script:
  - echo -n ${CI_JOB_TOKEN} | docker login -u gitlab-ci-token --password-stdin ${CI_REGISTRY}
  script:
  - echo 'Fetching latest smoke test suite artifact...'
  ...

Smoke Test Push:
  stage: Publish
  image: ${DOCKER_IMAGE}
  before_script:
  - echo -n ${CI_JOB_TOKEN} | docker login -u gitlab-ci-token --password-stdin ${CI_REGISTRY}
  script:
  - docker pull ${SMOKE_TEST_COMMIT_TAG}
  - docker tag ${SMOKE_TEST_COMMIT_TAG} ${SMOKE_TEST_LATEST_TAG}
  - docker push ${SMOKE_TEST_LATEST_TAG}

Powershell Lint:
  stage: Lint
  image: ${LINT_IMAGE}
  before_script:
  - pwsh -Version
  script:
  - ${LINT_CMD}

Docker Push:
  stage: Publish
  image: ${DOCKER_IMAGE}
  before_script:
  - echo -n ${CI_JOB_TOKEN} | docker login -u gitlab-ci-token --password-stdin ${CI_REGISTRY}
  script:
  - docker pull ${COMMIT_TAG}
  - docker tag ${COMMIT_TAG} ${LATEST_TAG}
  - docker push ${LATEST_TAG}

Update .src_pipeline.yml
  .gitlab/pipelines/.src_pipeline.yml
Due: none

Update .lint_img_pipeline.yml
  .gitlab/pipelines/.lint_img_pipeline.yml
Due: none

Trigger a pipeline
  files/prop/properties.yaml
Due: Docker Build, Push, Smoke Test Build, Powershell Lint, Docker Push

Update release pipeline
  .gitlab/pipelines/.app_img_pipeline.yml
  .gitlab/pipelines/.gitlab-vars.yml
  .gitlab/pipelines/.lint_img_pipeline.yml
  .gitlab/pipelines/.src_pipeline.yml
  conv2mp4.ps1
  files/functions/Convert-File.ps1
  files/functions/Copy-StereoStream.ps1
  files/functions/Get-AudioStreams.ps1
  files/functions/Get-Codec.ps1
  files/functions/Remove-Garbage.ps1
  files/functions/Write-FileQueue.ps1
  files/functions/validation/Confirm-FFMPEGPath.ps1
  files/functions/validation/Confirm-HandbrakeCLIPath.ps1
  files/functions/validation/Confirm-LockFilePath.ps1
  files/functions/validation/Confirm-MediaPath.ps1
  files/init/buildqueue.ps1
  files/init/preflight.ps1
  files/prop/properties.yaml
Due: Docker Build, Push, Smoke Test Build, Powershell Lint, Docker Push

Secret detection
  .gitlab/pipelines/.gitlab-ci.yml
  .gitlab/pipelines/.secret_detection_pipeline.yaml
Due: none

Container scanning
  .gitlab/pipelines/.app_img_pipeline.yml
  .gitlab/pipelines/.gitlab-ci.yml
  .gitlab/pipelines/.secret_detection_pipeline.yml
Due: none

Escape single quotes
  conv2mp4.ps1
  files/functions/Convert-File.ps1
  files/functions/Copy-StereoStream.ps1
  files/functions/Get-AudioStreams.ps1
  files/functions/Get-Codec.ps1
  files/prop/properties.yaml
Due: Docker Build, Push, Smoke Test Build, Powershell Lint, Docker Push

Bug fixes
  conv2mp4.ps1
  files/functions/Add-IgnoreList.ps1
  files/functions/Compare-IfLarger.ps1
  files/functions/Compare-IfSame.ps1
  files/functions/Compare-IfSmaller.ps1
  files/functions/Convert-File.ps1
  files/functions/Copy-StereoStream.ps1
  files/functions/Get-AudioStreams.ps1
  files/functions/Get-Codec.ps1
  files/functions/Remove-ExpiredLogs.ps1
  files/functions/Remove-Garbage.ps1
  files/functions/Remove-LockFile.ps1
  files/functions/Update-Plex.ps1
  files/functions/Write-EncodeError.ps1
  files/functions/Write-EncodeFailure.ps1
  files/functions/Write-Version.ps1
  files/functions/validation/Confirm-UsageStatisticsPath.ps1
  files/prop/properties.yaml
  files/templates/smoke_testing_cfg_outpath.yaml.template
  files/templates/smoke_testing_cfg_std.yaml.template
  files/templates/smoke_testing_cfg_stereo_clone.yaml.template
  files/templates/usageStatistics.yaml.template
Due: Docker Build, Push, Smoke Test Build, Powershell Lint, Docker Push

Update README.md
  README.md
Due: none

Update .app_img_pipeline.yml
  .gitlab/pipelines/.app_img_pipeline.yml
Due: none

Change verbiage
  files/cfg/config.yaml.template
Due: Docker Build, Push, Smoke Test Build, Powershell Lint, Docker Push

Update verbiage
  files/cfg/config.yaml.template
Due: Docker Build, Push, Smoke Test Build, Powershell Lint, Docker Push

Fix commit branch var
  .gitlab/pipelines/.app_img_pipeline.yml
Due: none

Update docker push pipeline
  .gitlab/pipelines/.app_img_pipeline.yml
  files/cfg/config.yaml.template
Due: Docker Build, Push, Smoke Test Build, Powershell Lint, Docker Push

Feature: Check for updates
  files/cfg/config.yaml.template
  files/functions/Get-LatestVersion.ps1
  files/functions/Write-Version.ps1
  files/functions/validation/Confirm-ConfigBooleans.ps1
  files/init/preflight.ps1
  files/listener/daemon.ps1
  files/listener/public/styles/main.css
  files/listener/views/index.pode
  files/prop/properties.yaml
Due: Docker Build, Push, Smoke Test Build, Powershell Lint, Docker Push

WebUI redesign
  README.md
  files/functions/Convert-File.ps1
  files/functions/Get-Codec.ps1
  files/listener/public/styles/main.css
  files/listener/views/index.pode
  files/listener/views/logs.pode
Due: Docker Build, Push, Smoke Test Build, Powershell Lint, Docker Push

Update Powershell to v7.1.5
  .docker/app/Dockerfile
Due: Dockerfile Lint, Docker Build, Push, Docker Push

Initial compare duplicates
  conv2mp4.ps1
  files/functions/Compare-Duplicates..ps1
  files/functions/Get-FileBitrate.ps1
  files/functions/New-Log.ps1
  files/tests/New-Log.Tests.ps1
Due: Docker Build, Push, Smoke Test Build, Powershell Lint, Docker Push

Update pwsh to 7.2.1
  .docker/app/Dockerfile
Due: Dockerfile Lint, Docker Build, Push, Docker Push

Update package version
  .docker/app/Dockerfile
Due: Dockerfile Lint, Docker Build, Push, Docker Push

Path conditions:
  Dockerfile Lint: any of: .docker/app/*
  Docker Build: (any of: conv2mp4-ps\.ps1, files/**/*, .docker/app/*) or (any of: conv2mp4\.ps1, files/**/*, .docker/app/*)
  Push: any of: conv2mp4-ps\.ps1, files/**/*, .docker/app/*
  Lint Dockerfile Lint: any of: .docker/lint/*
  Lint Build: any of: .docker/lint/*
  Lint Push: any of: .docker/lint/*
  Smoke Test Dockerfile Lint: any of: .docker/smoketest/*
  Smoke Test Build: any of: conv2mp4.ps1, files/**/*, .docker/smoketest/*
  Smoke Test Push: any of: .docker/smoketest/*
  Powershell Lint: any of: conv2mp4-ps\.ps1, files/**/*
  Docker Push: any of: conv2mp4\.ps1, files/**/*, .docker/app/*
