Repository BrianDMG/conv2mp4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Powershell Lint, Dockerfile Lint, Docker Build, Smoke Test, Push

Powershell Lint:
  stage: Lint
  image: ${LINT_IMAGE}
  before_script:
  - pwsh -Version
  script:
  - ${LINT_CMD}

Dockerfile Lint:
  stage: Lint
  image: ${DOCKER_LINT_IMAGE}
  script: ${DOCKER_LINT_CMD} ${DOCKERFILE_PATH}/Dockerfile

Docker Build:
  stage: Build
  image: ${DOCKER_IMAGE}
  before_script:
  - echo -n ${CI_JOB_TOKEN} | docker login -u gitlab-ci-token --password-stdin ${CI_REGISTRY}
  script:
  - 'docker build --pull --cache-from ${LATEST_TAG} --tag ${COMMIT_TAG} ${DOCKERFILE_PATH}
  
    '
  - docker push ${COMMIT_TAG}

Smoke Test:
  stage: Smoke Test
  script:
  - echo "TODO - Add container smoke tests"

Push:
  stage: Publish
  image: ${DOCKER_IMAGE}
  before_script:
  - echo -n ${CI_JOB_TOKEN} | docker login -u gitlab-ci-token --password-stdin ${CI_REGISTRY}
  script:
  - docker pull ${COMMIT_TAG}
  - docker tag ${COMMIT_TAG} ${LATEST_TAG}
  - docker push ${LATEST_TAG}

Testing includes
  .docker/lint/Dockerfile
  .gitlab/.gitlab-ci.yml
  .gitlab/.lint_img_pipeline.yml
Due: none

Testing includes
  .docker/lint/Dockerfile
  .gitlab/.gitlab-ci.yml
Due: none

Maximum includes, docker change
  .docker/app/Dockerfile
  .gitlab/.app_img_pipeline.yml
  .gitlab/.gitlab-ci.yml
  .gitlab/.lint_img_pipeline.yml
  .gitlab/.src_pipeline.yml
Due: Dockerfile Lint, Docker Build, Smoke Test, Push

Formatting, src CI test
  .gitlab/.src_pipeline.yml
  files/init/buildqueue.ps1
Due: none

Test src pipeline
  .gitlab/.src_pipeline.yml
  files/init/preflight.ps1
Due: none

Test src pipeline
  .gitlab/.src_pipeline.yml
  files/init/daemon2.ps1
Due: none

Testing src pipeline
  .gitlab/.app_img_pipeline.yml
  files/func/validate/ValidateAppendLog.ps1
Due: none

Comment out unit and smoke test stages until ready for testing
  .gitlab/.app_img_pipeline.yml
  .gitlab/.gitlab-ci.yml
  .gitlab/.src_pipeline.yml
  files/func/validate/ValidateConfigBooleans.ps1
Due: none

CI Refinement
  .docker/app/Dockerfile
  .docker/smoketest/.dockerignore
  .docker/smoketest/Dockerfile
  .gitignore
  .gitlab/.app_img_pipeline.yml
  .gitlab/.gitlab-ci.yml
  .gitlab/.gitlab-vars.yml
  .gitlab/.lint_img_pipeline.yml
  .gitlab/.smoke_test_img_pipeline.yml
  .gitlab/.src_pipeline.yml
  files/prop/properties
Due: Dockerfile Lint, Docker Build, Smoke Test, Push

Names escaped (mostly) properly
  .docker/app/Dockerfile
  conv2mp4-ps.ps1
  files/func/CompareIfLarger.ps1
  files/func/CompareIfSame.ps1
  files/func/CompareIfSmaller.ps1
  files/func/ConvertFile.ps1
  files/func/GetCodec.ps1
  files/func/PrintEncodeError.ps1
  files/func/PrintEncodeFailure.ps1
Due: Dockerfile Lint, Docker Build, Smoke Test, Push

Add Pode listener daemon
  .docker/app/Dockerfile
  .gitlab/.app_img_pipeline.yml
  .gitlab/.gitlab-vars.yml
  README.md
  docs/USAGE.md
  files/cfg/config.template
  files/cfg/config.yaml.template
  files/func/PrintVersion.ps1
  files/init/daemon.ps1
  files/init/daemon2.ps1
  files/listener/daemon.ps1
  files/listener/package.json
  files/listener/public/logo.svg
  files/listener/public/scripts/main.js.pode
  files/listener/public/styles/main.css
  files/listener/views/index.pode
  files/prop/properties
  files/prop/properties.yaml
Due: Dockerfile Lint, Docker Build, Smoke Test, Push

Implement YAML config and properties files
  .docker/app/Dockerfile
  conv2mp4-ps.ps1
  docs/CONFIGURATION.md
  files/cfg/config.template
  files/cfg/config.yaml.template
  files/func/AddToIgnoreList.ps1
  files/func/CloneStereoStream.ps1
  files/func/CollectGarbage.ps1
  files/func/ConvertFile.ps1
  files/func/DeleteLockFile.ps1
  files/func/GetAudioStreams.ps1
  files/func/GetCodec.ps1
  files/func/Log.ps1
  files/func/PlexRefresh.ps1
  files/func/PrintEncodeError.ps1
  files/func/PrintStatistics.ps1
  files/func/PrintVersion.ps1
  files/func/validate/ValidateAppendLog.ps1
  files/func/validate/ValidateConfigBooleans.ps1
  files/func/validate/ValidateFFMPEGPath.ps1
  files/func/validate/ValidateHandbrakeCLIPath.ps1
  files/func/validate/ValidateMediaPath.ps1
  files/init/buildqueue.ps1
  files/init/preflight.ps1
  files/listener/daemon.ps1
  files/listener/views/index.pode
  files/listener/views/logs.pode
  files/prop/properties
  files/prop/properties.yaml
Due: Dockerfile Lint, Docker Build, Smoke Test, Push

Add log splitting / rotation and persistent usage statistics
  .docker/app/Dockerfile
  README.md
  docs/CONFIGURATION.md
  files/cfg/config.yaml.template
  files/func/ConvertFile.ps1
  files/func/Log.ps1
  files/func/LogGenerate.ps1
  files/func/LogRotate.ps1
  files/func/PrintStatistics.ps1
  files/func/UpdateUsageStatistics.ps1
  files/func/validate/ValidateAppendLog.ps1
  files/func/validate/ValidateConfigBooleans.ps1
  files/func/validate/ValidateLogPath.ps1
  files/init/preflight.ps1
  files/listener/daemon.ps1
  files/listener/public/icons/android-chrome-192x192.png
  files/listener/public/icons/android-chrome-512x512.png
  files/listener/public/icons/apple-touch-icon.png
  files/listener/public/icons/browserconfig.xml
  files/listener/public/icons/favicon-16x16.png
  files/listener/public/icons/favicon-32x32.png
  files/listener/public/icons/favicon.ico
  files/listener/public/icons/favicon.svg
  files/listener/public/icons/mstile-144x144.png
  files/listener/public/icons/mstile-150x150.png
  files/listener/public/icons/mstile-310x150.png
  files/listener/public/icons/mstile-310x310.png
  files/listener/public/icons/mstile-70x70.png
  files/listener/public/icons/safari-pinned-tab.svg
  files/listener/public/icons/site.webmanifest
  files/listener/public/scripts/main.js.pode
  files/listener/public/styles/main.css
  files/listener/views/index.pode
  files/listener/views/logs.pode
  files/prop/properties.yaml
Due: Dockerfile Lint, Docker Build, Smoke Test, Push

Specify FROM tag to pwsh 7.1.4
  .docker/app/Dockerfile
Due: Dockerfile Lint, Docker Build, Smoke Test, Push

Fix log rotation, fix verbiage
  files/func/GenerateLog.ps1
  files/func/LogRotate.ps1
  files/func/RotateLog.ps1
  files/init/preflight.ps1
Due: none

Fix log rotation syntax
  .docker/app/Dockerfile
  files/func/GenerateLog.ps1
  files/func/LogRotate.ps1
  files/func/RotateLog.ps1
  files/init/preflight.ps1
Due: Dockerfile Lint, Docker Build, Smoke Test, Push

Update docs
  docs/CONFIGURATION.md
  docs/PULL_REQUEST_TEMPLATE.md
Due: none

Metadata: Use Gitlab URL instead of Github
  files/functions/Convert-File.ps1
Due: none

Update log description
  docs/STRUCTURE.md
Due: none

Update formatting and function name
  conv2mp4-ps.ps1
  files/functions/New-Log.ps1
  files/functions/Remove-Garbage.ps1
Due: Docker Build, Smoke Test, Push

Clean up post-merge nastiness
  files/functions/GenerateLog.ps1
  files/functions/New-Log.ps1
  files/functions/RotateLog.ps1
Due: none

Add usageStatistics validation function
  files/functions/Remove-ExpiredLogs.ps1
  files/functions/validation/Confirm-HandbrakeCLIPath.ps1
  files/functions/validation/Confirm-IgnorePath.ps1
  files/functions/validation/Confirm-UsageStatisticsPath.ps1
  files/init/preflight.ps1
  files/prop/properties.yaml
  files/prop/usageStatistics.yaml.template
Due: none

Docker MVP
  .docker/lint/Dockerfile
  .docker/smoketest/Dockerfile
  .gitlab/.app_img_pipeline.yml
  .gitlab/.smoke_test_img_pipeline.yml
  .gitlab/.src_pipeline.yml
  README.md
  conv2mp4.ps1
  docs/SCHEDULED_TASK.md
  docs/STRUCTURE.md
  docs/USAGE.md
  files/listener/daemon.ps1
  files/listener/views/index.pode
  files/prop/properties
  files/prop/properties.yaml
Due: none

Redirect script output to Docker logs
  files/listener/daemon.ps1
  files/listener/wrapper.ps1
Due: none

Wrapper change
  files/listener/wrapper.ps1
Due: none

Change scheduled task to use wrapper script
  files/listener/daemon.ps1
Due: none

Limit usage stats
  files/functions/Update-UsageStatistics.ps1
  files/listener/views/index.pode
Due: none

Initial commit
  .gitlab/CODEOWNERS
Due: none

Update README.md
  README.md
Due: none

Update docs
  .gitlab/.gitlab-ci.yml
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/General.md
  .gitlab/issue_templates/Usage question.md
  .gitlab/merge_request_templates/General.md
  .gitlab/pipelines/.app_img_pipeline.yml
  .gitlab/pipelines/.gitlab-ci.yml
  .gitlab/pipelines/.gitlab-vars.yml
  .gitlab/pipelines/.lint_img_pipeline.yml
  .gitlab/pipelines/.smoke_test_img_pipeline.yml
  .gitlab/pipelines/.src_pipeline.yml
  README.md
  docs/CONFIGURATION.md
  docs/CONTRIBUTING.md
  docs/DEPENDENCIES.md
  docs/PULL_REQUEST_TEMPLATE.md
  docs/SCHEDULED_TASK.md
  docs/STRUCTURE.md
  docs/USAGE.md
  files/cfg/config.yaml.template
Due: none

Add Dockerhub push for release
  .gitlab/pipelines/.app_img_pipeline.yml
Due: none

Fixed syntax
  .gitlab/pipelines/.app_img_pipeline.yml
  .gitlab/pipelines/.gitlab-vars.yml
Due: none

Change Dockerhub login syntax
  .gitlab/pipelines/.app_img_pipeline.yml
Due: none

Update .app_img_pipeline.yml
  .gitlab/pipelines/.app_img_pipeline.yml
Due: none

Update .lint_img_pipeline.yml
  .gitlab/pipelines/.lint_img_pipeline.yml
Due: none

Update .src_pipeline.yml
  .gitlab/pipelines/.src_pipeline.yml
Due: none

Path conditions:
  Powershell Lint: any of: ./conv2mp4-ps.ps1, ./files/**
  Dockerfile Lint: any of: .docker/app/*
  Docker Build: any of: conv2mp4-ps.ps1, ./files/**, .docker/app/*
  Smoke Test: any of: conv2mp4-ps.ps1, ./files/**, .docker/app/*
  Push: any of: conv2mp4-ps.ps1, ./files/**, .docker/app/*
